*
{
    margin:0;
    padding: 0;
}

nav{


    width: 100%;
    background-color: black;
    height: 60px;
    
}



ul{
    list-style: none;
    overflow: auto;
    justify-content: space-around;
    
}

li{
    float: left;
    display: inline;
    color:white;
    background-color: transparent;
    margin-left: 60px;
    margin-top: 10px;
    padding: 10px;
    font-weight: bolder;
    width: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.login-btn
{
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 620px;
    margin-top: 30px;
}
.home_head
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:blue;
}
.home_heading
{
    text-align: center;
}

img.illus
{
  height:500px;
  width: 500px;
  float: right;
}

.home1_head
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}
.about_head
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:black;
}